.townContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: .25em;
    background-image: url(../../Images/image6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.25em;
    margin-top: 1em;
    color: hsl(288, 29%, 82%);
    animation: fadeIn;
    animation-duration: 3.5s;
}



.townContainer a {
    color: hsl(288, 29%, 82%);
    font-size: 1.5em;
    background: hsl(157, 24%, 19%);
    border-radius: .25em;
    padding: .5em;
    margin-top: -.5em;
    margin-left: .5em;
    margin-right: .5em;

}

.townContainer h1 {
    font-size: 3em;
    color: hsl(288, 29%, 82%);
    background: hsl(157, 24%, 19%);
    border-radius: .33em;
    padding: .15em;

}

