.weatherContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 3em;
    color: rgb(77, 224, 175);
    font-size: 1.25em;
    margin-top: 1em;
    background-image: url(../../Images/image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.weatherHeader {
    color: hsl(180, 52%, 54%);
    background: hsl(0, 1%, 37%);
    border-radius: .75em;
    animation: bounceInRight;
    animation-duration: 2s;

    
}

.weatherContainer p {
    background: hsl(0, 1%, 37%);
    border-radius: .75em;
    width: auto;
    animation: bounceInLeft;
    animation-duration: 2s;
}


