.thingsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.thingsContainer h1 {
  font-size: 4em;
  color: hsl(0, 0%, 100%);
  background-image: url(../../Images/image8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25em;
  padding: 0.5em;
  margin: 1em;
}

.thingsContainer h3 {
  font-size: 3em;
  background-color: hsl(0, 81%, 68%);
  border-radius: 0.25em;
  padding: 0.25em;
  border-style: groove;
  border-color: rgb(179, 206, 206);
  box-shadow: hsl(0, 81%, 68%) 0.25em 0.23em 0.5em 0.1em;
}

.thingsContainer a {
  font-size: 1.75em;
  color: whitesmoke;
  margin-top: 1em;
}

hr {
  width: 15em;
  margin: auto 0;
  margin-top: 1em;
}

.map {
  width: 15em;
  height: 25em;
  padding-bottom: 1em;
  border: none;
}

.thingsList {
  /* font-size: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  margin-top: 1em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1em;
  background: hsla(239, 35%, 51%, 0.562);
  border-radius: 3em;
  border: solid .25em hsl(65, 33%, 80%);
  font-size: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 0.2em;
  color: hsl(0, 0%, 100%);
  box-shadow: hsla(180, 89%, 72%, 0.459) .0em .25em 1em .5em ;
  
}


.thingsList li {
  padding: 0.25em;
}

.beachDesc {
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  /* width: 10em; */
  text-align: left;
}

