ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto 0;
    background: hsl(0, 100%, 91%);
    border-radius: 3em;
    border: solid hsl(61, 100%, 58%);
}
ul li {
    margin: .75em;
}
 
body {
    background-image: url(../src/Images/image4.jpg);
  background-size: contain;
  background-repeat: repeat;
    
} 











